@{
    ViewData["Title"] = "Financial Manager Project";
}
<h1>@ViewData["Title"]</h1>

<p>Made by Evgeniy Kharchenko :)</p>
<h3>This financial manager allows you to keep track of your transactions, including adding, editing, and deleting entries. You can also see your account balance, as well as your income and expenses.
</h3>